.logocentro {
    display: block;
    margin: 0 auto;
}
h1, h2 {
    color: rgba(255, 102, 0, 0.664);
    text-align: center;
}
p {
    text-align: center;
    color: rgb(67, 240, 240);
    background-color: rgb(1, 1, 22);
}
ul {
   
    display: block;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    color: rgb(67, 240, 240);
    background-color: rgb(1, 1, 22);
}
body {
    background-color: aqua; 
}