.logocentro {
    display: block;
    margin: 0 auto;
   }
h1 {
    color: rgba(255, 102, 0, 0.664);
    text-align: center;
   }
h2 {
    text-align: center;
    
   }
   li {
       float: left;
       width: 150px;
   }
   ul {
       
       display: block;
       margin: 0 auto;
       width: 800px;
       color: rgba(255, 102, 0, 0.664); ;
   }
   
   
.imagemDireita {
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 50px;
    max-width: 200px;
    min-height: 150px;
    width: auto;
    height: auto;

}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,185,229,0.5158438375350141) 47%, rgba(0,212,255,1) 100%);
}
